h2{
    color: red;
}

body{
    background-color: black;
    color: rgb(33, 235, 33);
    font-family: Arial;
    text-align: center;
}

header{
    border-bottom: 1px solid lightgreen;
}

footer{
    border-top: 1px solid   lightgreen;
}

#nome-usuário {
    font-weight: bold;
}

.texto-inglês {
    font-style: italic;
}